html,
body {
    height: 100%;
    margin: 0;
}

.content-wrapper {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px 0;
    font-size: 0.9em;
    margin-top: 40px;
}

a {
    color: white;
    text-decoration: none;
}

.bg-purple {
    background-color: #6f42c1 !important;
}